@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-rust: #AF3800;
    --color-green: #4DAA57;
    --color-timberwolf: #DBD3C9;
    --color-gray: #494850;
    --color-gray-dark: #2C2C34;
}

body {
    font-family: 'Roboto', Arial;
}