.throws-wrapper {
  display: grid;
  grid-template-columns:
    1fr 3fr 1fr;
  grid-template-rows:
    1fr 1fr;
}

.throw-selectors{
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  & app-throw-selector {
    width: 100%;
  };
}

.throw-selector-prev{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.throw-selector-next{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.throw-scores{
  grid-column-start: 2;
  grid-column-end: 3;
}